body {
    letter-spacing: 2px;
}

.beachForecastContainer {
    text-align: center;
    background-color: rgb(135, 217, 231);
    font-family: monospace;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.beachForecast {
    color: black;
    text-shadow:rgb(230, 248, 128) .5px .5px;
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.beachName {
    font-size: 18px;
    padding-top: 1.5rem;
    opacity: .95;
    border: 1px solid rgb(212, 162, 76);
    height: 10rem;
    width: 10rem;
}

.beachDayBox {
    
    opacity: 0.9;
    margin: .2em;
    border: 1px solid rgb(212, 162, 76);
    height: 10rem;
    width: 10rem;
}