body {
    letter-spacing: 2px;
}


.beachForecastContainer {
    text-align: center;
    background-color: rgb(135, 217, 231);
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

img {
    height: 65px;
    width: 65px;
}

@media screen and (max-width: 750px) {
    .beachForecastContainer {
        font-size: 10px;
    }
}

.beachForecast {
    color: black;
    text-shadow:rgb(230, 248, 128) .5px .5px;
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
    img {
        height: 40px;
        width: 40px;
    }
}

.beachName {
    font-size: 14px;
    padding-top: 1.5rem;
    opacity: .95;
    border: 1px solid rgb(212, 162, 76);
    height: 8rem;
    width: 8rem;
}

@media screen and (max-width: 750px) {
    .beachName {
        font-size: 10px;
    }
}

.beachDayBox {
    
    opacity: 0.9;
    margin: .2em;
    border: 1px solid rgb(212, 162, 76);
    height: 8rem;
    width: 8rem;
}

